header{
    margin-top: 88px;
    text-align: center;
}
.navigation{...
}
a{
    text-decoration: none;
    color: black;
}
.photo-item{
    border: 1px solid red;
    width: 250px;
    padding: 20px;
    height: 170px;
}
img{
    width: 200px;
    height: 120px;
}
.photolist{
    display: flex;
    flex-wrap: wrap;
    gap: 170px;
}
.footer{
    border: 2px solid beige;
    background-color: brown;
    margin-top: 20px;
    height: 120px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{ color: blanchedalmond;}
